In [44]:
import pandas as pd
import joblib

In [45]:
df = pd.read_parquet('../data/processed/1_test_processed.parquet')

df

,id,onpromotion,transactions,dcoilwtico,pay_day,store_nbr_1,store_nbr_2,store_nbr_3,store_nbr_4,store_nbr_5,...,month_2,month_3,month_4,month_5,month_6,month_7,month_8,month_9,month_10,month_11
0,3000888,0.000000,0.202538,0.244108,False,True,False,False,False,False,...,False,False,False,False,False,False,True,False,False,False
1,3000889,0.000000,0.202538,0.244108,False,True,False,False,False,False,...,False,False,False,False,False,False,True,False,False,False
2,3000890,0.002699,0.202538,0.244108,False,True,False,False,False,False,...,False,False,False,False,False,False,True,False,False,False
3,3000891,0.026991,0.202538,0.244108,False,True,False,False,False,False,...,False,False,False,False,False,False,True,False,False,False
4,3000892,0.000000,0.202538,0.244108,False,True,False,False,False,False,...,False,False,False,False,False,False,True,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
28507,3029395,0.001350,0.202538,0.249556,True,False,False,False,False,False,...,False,False,False,False,False,False,True,False,False,False
28508,3029396,0.000000,0.202538,0.249556,True,False,False,False,False,False,...,False,False,False,False,False,False,True,False,False,False
28509,3029397,0.001350,0.202538,0.249556,True,False,False,False,False,False,...,False,False,False,False,False,False,True,False,False,False
28510,3029398,0.012146,0.202538,0.249556,True,False,False,False,False,False,...,False,False,False,False,False,False,True,False,False,False
28511,3029399,0.000000,0.202538,0.249556,True,False,False,False,False,False,...,False,False,False,False,False,False,True,False,False,False

In [46]:
clf = joblib.load('../models/clf_1.pkl')
hgbr = joblib.load('../models/hgbr_1.pkl')

In [47]:
df_1 = df.copy()

In [48]:
X = df_1.drop(columns=['id'])

df_1['is_zero'] = clf.predict(X)

df_1

,id,onpromotion,transactions,dcoilwtico,pay_day,store_nbr_1,store_nbr_2,store_nbr_3,store_nbr_4,store_nbr_5,...,month_3,month_4,month_5,month_6,month_7,month_8,month_9,month_10,month_11,is_zero
0,3000888,0.000000,0.202538,0.244108,False,True,False,False,False,False,...,False,False,False,False,False,True,False,False,False,True
1,3000889,0.000000,0.202538,0.244108,False,True,False,False,False,False,...,False,False,False,False,False,True,False,False,False,True
2,3000890,0.002699,0.202538,0.244108,False,True,False,False,False,False,...,False,False,False,False,False,True,False,False,False,False
3,3000891,0.026991,0.202538,0.244108,False,True,False,False,False,False,...,False,False,False,False,False,True,False,False,False,False
4,3000892,0.000000,0.202538,0.244108,False,True,False,False,False,False,...,False,False,False,False,False,True,False,False,False,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
28507,3029395,0.001350,0.202538,0.249556,True,False,False,False,False,False,...,False,False,False,False,False,True,False,False,False,False
28508,3029396,0.000000,0.202538,0.249556,True,False,False,False,False,False,...,False,False,False,False,False,True,False,False,False,True
28509,3029397,0.001350,0.202538,0.249556,True,False,False,False,False,False,...,False,False,False,False,False,True,False,False,False,False
28510,3029398,0.012146,0.202538,0.249556,True,False,False,False,False,False,...,False,False,False,False,False,True,False,False,False,False
28511,3029399,0.000000,0.202538,0.249556,True,False,False,False,False,False,...,False,False,False,False,False,True,False,False,False,True

In [49]:
non_zero_rows = df_1[df_1['is_zero'] == False].copy()

non_zero_rows

,id,onpromotion,transactions,dcoilwtico,pay_day,store_nbr_1,store_nbr_2,store_nbr_3,store_nbr_4,store_nbr_5,...,month_3,month_4,month_5,month_6,month_7,month_8,month_9,month_10,month_11,is_zero
2,3000890,0.002699,0.202538,0.244108,False,True,False,False,False,False,...,False,False,False,False,False,True,False,False,False,False
3,3000891,0.026991,0.202538,0.244108,False,True,False,False,False,False,...,False,False,False,False,False,True,False,False,False,False
5,3000893,0.016194,0.202538,0.244108,False,True,False,False,False,False,...,False,False,False,False,False,True,False,False,False,False
7,3000895,0.033738,0.202538,0.244108,False,True,False,False,False,False,...,False,False,False,False,False,True,False,False,False,False
8,3000896,0.060729,0.202538,0.244108,False,True,False,False,False,False,...,False,False,False,False,False,True,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
28503,3029391,0.026991,0.202538,0.249556,True,False,False,False,False,False,...,False,False,False,False,False,True,False,False,False,False
28504,3029392,0.018893,0.202538,0.249556,True,False,False,False,False,False,...,False,False,False,False,False,True,False,False,False,False
28507,3029395,0.001350,0.202538,0.249556,True,False,False,False,False,False,...,False,False,False,False,False,True,False,False,False,False
28509,3029397,0.001350,0.202538,0.249556,True,False,False,False,False,False,...,False,False,False,False,False,True,False,False,False,False
28510,3029398,0.012146,0.202538,0.249556,True,False,False,False,False,False,...,False,False,False,False,False,True,False,False,False,False

In [50]:
y = hgbr.predict(non_zero_rows.drop(columns=['is_zero', 'id']))

df_1.loc[df_1['is_zero'] == False, 'sales'] = y
df_1.loc[df_1['is_zero'] == True, 'sales'] = 0

df_1

,id,onpromotion,transactions,dcoilwtico,pay_day,store_nbr_1,store_nbr_2,store_nbr_3,store_nbr_4,store_nbr_5,...,month_4,month_5,month_6,month_7,month_8,month_9,month_10,month_11,is_zero,sales
0,3000888,0.000000,0.202538,0.244108,False,True,False,False,False,False,...,False,False,False,False,True,False,False,False,True,0.000000
1,3000889,0.000000,0.202538,0.244108,False,True,False,False,False,False,...,False,False,False,False,True,False,False,False,True,0.000000
2,3000890,0.002699,0.202538,0.244108,False,True,False,False,False,False,...,False,False,False,False,True,False,False,False,False,71.660383
3,3000891,0.026991,0.202538,0.244108,False,True,False,False,False,False,...,False,False,False,False,True,False,False,False,False,2663.040145
4,3000892,0.000000,0.202538,0.244108,False,True,False,False,False,False,...,False,False,False,False,True,False,False,False,True,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
28507,3029395,0.001350,0.202538,0.249556,True,False,False,False,False,False,...,False,False,False,False,True,False,False,False,False,370.686713
28508,3029396,0.000000,0.202538,0.249556,True,False,False,False,False,False,...,False,False,False,False,True,False,False,False,True,0.000000
28509,3029397,0.001350,0.202538,0.249556,True,False,False,False,False,False,...,False,False,False,False,True,False,False,False,False,1490.027410
28510,3029398,0.012146,0.202538,0.249556,True,False,False,False,False,False,...,False,False,False,False,True,False,False,False,False,280.161897
28511,3029399,0.000000,0.202538,0.249556,True,False,False,False,False,False,...,False,False,False,False,True,False,False,False,True,0.000000

In [51]:
((len(df_1) - len(df_1[df_1.sales == 0])) / len(df_1)) * 100

44.08319304152638

In [52]:
df_train = pd.read_csv('../data/row/train.csv')

((len(df_train) - len(df_train[df_train.sales == 0])) / len(df_train)) * 100

68.70493000738448

In [53]:
df_1[df_1['id'].duplicated(keep=False)]

Empty DataFrame
Columns: [id, onpromotion, transactions, dcoilwtico, pay_day, store_nbr_1, store_nbr_2, store_nbr_3, store_nbr_4, store_nbr_5, store_nbr_6, store_nbr_7, store_nbr_8, store_nbr_9, store_nbr_10, store_nbr_11, store_nbr_12, store_nbr_13, store_nbr_14, store_nbr_15, store_nbr_16, store_nbr_17, store_nbr_18, store_nbr_19, store_nbr_20, store_nbr_21, store_nbr_22, store_nbr_23, store_nbr_24, store_nbr_25, store_nbr_26, store_nbr_27, store_nbr_28, store_nbr_29, store_nbr_30, store_nbr_31, store_nbr_32, store_nbr_33, store_nbr_34, store_nbr_35, store_nbr_36, store_nbr_37, store_nbr_38, store_nbr_39, store_nbr_40, store_nbr_41, store_nbr_42, store_nbr_43, store_nbr_44, store_nbr_45, store_nbr_46, store_nbr_47, store_nbr_48, store_nbr_49, store_nbr_50, store_nbr_51, store_nbr_52, store_nbr_53, family_AUTOMOTIVE, family_BABY CARE, family_BEAUTY, family_BEVERAGES, family_BOOKS, family_BREAD/BAKERY, family_CELEBRATION, family_CLEANING, family_DAIRY, family_DELI, family_EGGS, family_FROZEN FOODS, family_GROCERY I, family_GROCERY II, family_HARDWARE, family_HOME AND KITCHEN I, family_HOME AND KITCHEN II, family_HOME APPLIANCES, family_HOME CARE, family_LADIESWEAR, family_LAWN AND GARDEN, family_LINGERIE, family_LIQUOR,WINE,BEER, family_MAGAZINES, family_MEATS, family_PERSONAL CARE, family_PET SUPPLIES, family_PLAYERS AND ELECTRONICS, family_POULTRY, family_PREPARED FOODS, family_PRODUCE, family_SCHOOL AND OFFICE SUPPLIES, city_Ambato, city_Babahoyo, city_Cayambe, city_Cuenca, city_Daule, city_El Carmen, city_Esmeraldas, city_Guaranda, city_Guayaquil, city_Ibarra, ...]
Index: []

[0 rows x 192 columns]

In [54]:
df_1[['id', 'sales']].to_csv('../data/processed/submission_1.csv', index=False)

In [55]:
xgbc = joblib.load('../models/xgbc_1.pkl')
xgbr = joblib.load('../models/xgbr_1.pkl')

In [56]:
df_2 = df.copy(deep=True)

X = df_2.drop(columns=['id'])

df_2['is_zero'] = xgbc.predict(X)

non_zero_rows = df_2[df_2['is_zero'] == False].copy()

y = xgbr.predict(non_zero_rows.drop(columns=['is_zero', 'id']))

df_2.loc[df_2['is_zero'] == False, 'sales'] = y
df_2.loc[df_2['is_zero'] == True, 'sales'] = 0

df_2

,id,onpromotion,transactions,dcoilwtico,pay_day,store_nbr_1,store_nbr_2,store_nbr_3,store_nbr_4,store_nbr_5,...,month_4,month_5,month_6,month_7,month_8,month_9,month_10,month_11,is_zero,sales
0,3000888,0.000000,0.202538,0.244108,False,True,False,False,False,False,...,False,False,False,False,True,False,False,False,0,-11.219902
1,3000889,0.000000,0.202538,0.244108,False,True,False,False,False,False,...,False,False,False,False,True,False,False,False,1,0.000000
2,3000890,0.002699,0.202538,0.244108,False,True,False,False,False,False,...,False,False,False,False,True,False,False,False,0,-32.729797
3,3000891,0.026991,0.202538,0.244108,False,True,False,False,False,False,...,False,False,False,False,True,False,False,False,0,2470.937256
4,3000892,0.000000,0.202538,0.244108,False,True,False,False,False,False,...,False,False,False,False,True,False,False,False,1,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
28507,3029395,0.001350,0.202538,0.249556,True,False,False,False,False,False,...,False,False,False,False,True,False,False,False,0,348.050018
28508,3029396,0.000000,0.202538,0.249556,True,False,False,False,False,False,...,False,False,False,False,True,False,False,False,1,0.000000
28509,3029397,0.001350,0.202538,0.249556,True,False,False,False,False,False,...,False,False,False,False,True,False,False,False,0,1288.108521
28510,3029398,0.012146,0.202538,0.249556,True,False,False,False,False,False,...,False,False,False,False,True,False,False,False,0,41.315250
28511,3029399,0.000000,0.202538,0.249556,True,False,False,False,False,False,...,False,False,False,False,True,False,False,False,1,0.000000

In [57]:
df_2.sales[df_2.sales < 0] = 0

/var/folders/46/ky7ff4bj6874xpchl1bc9cqh0000gn/T/ipykernel_3058/1508330435.py:1: FutureWarning: ChainedAssignmentError: behaviour will change in pandas 3.0!
You are setting values through chained assignment. Currently this works in certain cases, but when using Copy-on-Write (which will become the default behaviour in pandas 3.0) this will never work to update the original DataFrame or Series, because the intermediate object on which we are setting values will behave as a copy.
A typical example is when you are setting values in a column of a DataFrame, like:

df["col"][row_indexer] = value

Use `df.loc[row_indexer, "col"] = values` instead, to perform the assignment in a single step and ensure this keeps updating the original `df`.

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

  df_2.sales[df_2.sales < 0] = 0
/var/folders/46/ky7ff4bj6874xpchl1bc9cqh0000gn/T/ipykernel_3058/1508330435.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_2.sales[df_2.sales < 0] = 0

In [58]:
df_2[df_2.sales < 0]

Empty DataFrame
Columns: [id, onpromotion, transactions, dcoilwtico, pay_day, store_nbr_1, store_nbr_2, store_nbr_3, store_nbr_4, store_nbr_5, store_nbr_6, store_nbr_7, store_nbr_8, store_nbr_9, store_nbr_10, store_nbr_11, store_nbr_12, store_nbr_13, store_nbr_14, store_nbr_15, store_nbr_16, store_nbr_17, store_nbr_18, store_nbr_19, store_nbr_20, store_nbr_21, store_nbr_22, store_nbr_23, store_nbr_24, store_nbr_25, store_nbr_26, store_nbr_27, store_nbr_28, store_nbr_29, store_nbr_30, store_nbr_31, store_nbr_32, store_nbr_33, store_nbr_34, store_nbr_35, store_nbr_36, store_nbr_37, store_nbr_38, store_nbr_39, store_nbr_40, store_nbr_41, store_nbr_42, store_nbr_43, store_nbr_44, store_nbr_45, store_nbr_46, store_nbr_47, store_nbr_48, store_nbr_49, store_nbr_50, store_nbr_51, store_nbr_52, store_nbr_53, family_AUTOMOTIVE, family_BABY CARE, family_BEAUTY, family_BEVERAGES, family_BOOKS, family_BREAD/BAKERY, family_CELEBRATION, family_CLEANING, family_DAIRY, family_DELI, family_EGGS, family_FROZEN FOODS, family_GROCERY I, family_GROCERY II, family_HARDWARE, family_HOME AND KITCHEN I, family_HOME AND KITCHEN II, family_HOME APPLIANCES, family_HOME CARE, family_LADIESWEAR, family_LAWN AND GARDEN, family_LINGERIE, family_LIQUOR,WINE,BEER, family_MAGAZINES, family_MEATS, family_PERSONAL CARE, family_PET SUPPLIES, family_PLAYERS AND ELECTRONICS, family_POULTRY, family_PREPARED FOODS, family_PRODUCE, family_SCHOOL AND OFFICE SUPPLIES, city_Ambato, city_Babahoyo, city_Cayambe, city_Cuenca, city_Daule, city_El Carmen, city_Esmeraldas, city_Guaranda, city_Guayaquil, city_Ibarra, ...]
Index: []

[0 rows x 192 columns]

In [62]:
(len(df_2) - len(df_2[df_2.sales == 0])) / len(df_2) * 100

52.363916947250274

In [63]:
df_2[['id', 'sales']].to_csv('../data/processed/submission_2.csv', index=False)